
@{
    ViewBag.Title = "cauchuyenthuonghieu";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Câu chuyện thương hiệu</title>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .ngoai {
        width: 760px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .cau_chuyen1 {
        padding: 60px 0;
        background-image: url(backgroundSt1.png);
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
    }

    .dong {
        margin-left: -15px;
        margin-right: -15px;
    }

    h2 {
        color: #EA8025;
        margin-top: 0;
        margin-bottom: 30px;
        float: none;
        text-align: center;
        display: inline-block;
        font-size: 32px;
        font-weight: 700;
        font-family: 'Bebas Neue','Lato', sans-serif;
        text-transform: uppercase;
    }

    .noi_dung {
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        line-height: 30px;
    }

    .cau_chuyen2 {
        border: 0;
        font-size: 100%;
        padding: 60px 0;
        margin: 0;
        outline: 0;
        width: 100%;
    }

    .con {
        margin-left: -90px;
        margin-right: -190px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .cau_chuyen3 {
        background-color: black;
        padding: 60px 0;
        border: 0;
        margin-top: 90px;
        outline: 0;
        width: 100%;
    }

    .nam {
        width: 25%;
        font-size: 42px;
        text-align: center;
        font-weight: 700;
        color: #EA8025;
        margin-top: 0;
        padding-right: 15px;
        padding-top: 10px;
        font-family: 'Bebas Neue','Lato', sans-serif;
        float: left;
        margin-left: 40px;
        border: 0;
    }

    .namct {
        width: 75%;
        text-align: left;
        padding-bottom: 30px;
        /* border-bottom: 1px solid #fff; */
        margin-left: 20px;
    }

    .namcttt {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
        font-family: 'Bebas Neue','Lato', sans-serif;
        margin-right: -70px;
    }

    .cau_chuyen4 {
        border: 0;
        font-size: 100%;
        padding: 60px 0;
        margin: 0;
        outline: 0;
        width: 100%;
    }
</style>
<div>
    <div class="cau_chuyen1">
        <div class="ngoai">
            <div class="dong">
                <div style="width: 600px; padding-left: 250px; text-align: center;">
                    <h2>
                        Mình cafe nhé
                    </h2>
                    <hr>
                </div>
                <div class="noi_dung">
                    “Cà phê nhé" - Một lời hẹn rất riêng của người Việt. Một lời ngỏ mộc mạc để mình ngồi lại bên nhau và sẻ chia câu chuyện của riêng mình.
                    <br>
                    <br>
                    Tại The Coffee House, chúng tôi luôn trân trọng những câu chuyện và đề cao giá trị <b>Kết nối con người</b>. Chúng tôi mong muốn The Coffee House sẽ trở thành <b>“Nhà Cà Phê"</b>, nơi mọi người xích lại gần nhau và tìm thấy niềm vui, sự sẻ chia thân tình bên những tách cà phê đượm hương, chất lượng.
                </div>
            </div>
        </div>
    </div>
    <div class="cau_chuyen2">
        <div class="ngoai">
            <div class="dong">
                <div style="width: 800px; padding-left: 70px; text-align: center;">
                    <h2>
                        3 GIÁ TRỊ LÀM NÊN THE COFFEE HOUSE
                    </h2>
                    <hr>
                </div>
                <div>
                    <div class="con">
                        <img src="~/images/anh1_st2.jpg" alt="ad" style="width: 330px; height: 240px; float:left; margin-left: 5px;">
                        <img src="~/images/anh2_st2.jpg" alt="ad" style="width: 330px; height: 240px; float:left; margin-left: 5px; margin-right: 10px;">
                        <div>
                            <b>TRAO GỬI HẠNH PHÚC</b>
                            <br>
                            <br>
                            Mọi quyết định và hành động ở The Coffee House đều bắt đầu từ sứ mệnh <b>“Deliver Happiness” - Trao gửi hạnh phúc</b> . Từ niềm vui cho nhân viên đến sự hài lòng của khách hàng,
                            chúng tôi tin rằng tất cả mọi người đều có thể đóng góp thêm những việc làm tốt đẹp cho cộng đồng. Hạnh phúc được tạo ra và lan tỏa, với The Coffee House, mới là hạnh phúc trọn vẹn.
                        </div>
                    </div>
                    <div class="con">
                        <div style="float: left; width: 35%; margin-right: 20px;">
                            <br> <br> <br> <br>
                            <b>CHẤT LƯỢNG CÀ PHÊ TUYỆT HẢO</b>
                            <br>
                            <br>
                            Chúng tôi muốn tạo ra dấu ấn khác biệt cho cà phê Việt Nam bằng sự tử tế và cẩn trọng.
                            Chúng tôi ươm mầm, chăm dưỡng kỹ lưỡng cây cà phê dưới các chuẩn mực khắt khe để đưa ra thị trường những thành phẩm tuyệt vời nhất.
                            Chúng tôi muốn góp phần tạo nên những thay đổi bền vững cho ngành cà phê Việt Nam.
                        </div>
                        <div>
                            <img src="~/images/anh3_st2.jpg" alt="ad" style="width: 650px; height: 395px; float:left; margin-left: 5px; margin-top: 30px; margin-bottom: 5px;">
                        </div>
                    </div>
                    <div class="con">
                        <div style=" margin-right: 20px; float: left; margin-top: 30px;">
                            <img src="~/images/anh4_st2.jpg" alt="ad" style="width: 700px; height: 390px; margin-bottom: 30px;">
                        </div>
                        <div style="margin-top: 200px; margin-left: 30px;">
                            <br> <br>
                            <b>TRÂN TRỌNG CON NGƯỜI</b>
                            <br> <br>
                            The Coffee House không chỉ là một công ty hoạt động trong ngành F&B
                            (Food & Beverage - Ăn Uống), chúng tôi là một thương hiệu về con người.
                            <br>
                            Tại The Coffee House, chúng tôi không đi tìm thứ cà phê đặc sản mà tìm những người làm cà phê trở nên đặc biệt.
                            Chúng tôi cùng nhau làm việc cần mẫn và chung sức cho những mục tiêu lớn, nhưng vẫn chăm chút đến từng chi tiết nhỏ.
                            <br>
                            Cùng nhau bình tĩnh vượt qua các thách thức và vươn đến sự hoàn hảo, chúng tôi tin rằng mỗi người đều có một câu chuyện,
                            biệt tài, tiềm năng... nên luôn cổ vũ cho từng cá nhân kiên trì đi đến tận cùng của ước mơ của mình.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cau_chuyen3">
        <div class="noi_dung">
            <div class="dong">
                <div style="width: 1200px; padding-left: 400px;">
                    <h2>
                        HÃY CÙNG NHÌN LẠI NHỮNG DẤU ẤN TRONG HÀNH TRÌNH CỦA CHÚNG TÔI
                    </h2>
                    <hr>
                </div>
                <div>
                    <div>
                        <div class="nam">2014</div>
                        <div class="namct">
                            <h2 class="namcttt">RA MẮT CỬA HÀNG ĐẦU TIÊN tại 86-88 Cao Thắng.</h2>
                            <p style="color: #fff; padding-left: 400px;">Sau 3 năm, The Coffee House có hơn 60 cửa hàng tại TP Hồ Chí Minh.</p>
                        </div>
                        <hr style="float: right; width: 40%; margin-right: 400px;">
                    </div>
                    <br>
                    <div>
                        <div class="nam">2015</div>
                        <div class="namct">
                            <h2 class="namcttt">
                                THE COFEE HOUSE CÓ MẶT TẠI HÀ NỘI
                            </h2>
                            <p style="color: #fff; padding-left: 400px;">Tới nay, Nhà đã có 14 cửa hàng ở các khu vực trung tâm Thủ đô Hà Nội..</p>
                        </div>
                        <hr style="float: right; width: 40%; margin-right: 400px;">
                    </div>
                    <br>
                    <div>
                        <div class="nam">2017</div>
                        <div class="namct">
                            <h2 class="namcttt">
                                Xin chào ĐÀ NẴNG, BIÊN HOÀ VÀ VŨNG TÀU
                            </h2>
                            <p style="color: #fff; padding-left: 400px;">Chúng tôi đem trải nghiệm “Đi cà phê” lan toả rộng hơn, đến Đà Nẵng, Biên Hòa và Vũng Tàu..</p>
                        </div>
                        <hr style="float: right; width: 40%; margin-right: 400px;">
                    </div>
                    <br>
                    <div>
                        <div class="nam">2018</div>
                        <div class="namct">
                            <h2 class="namcttt">Chinh phục HÀNH TRÌNH “TỪ NÔNG TRẠI ĐẾN LY CÀ PHÊ”.</h2>
                            <p style="color: #fff; padding-left: 400px;"><b>CHÍNH THỨC VẬN HÀNH TRANG TRẠI</b></p>
                            <br>
                            <p style="color: #fff; padding-left: 410px;">
                                Sau khi bộ phận Cà Phê của Cầu Đất Farm được sáp nhập vào The Coffee House,
                                dải sơn nguyên 1,650m trên cao sẽ là nơi chúng tôi gieo nên ước mơ đem hạt cà phê Việt ra ngoài thế giới.
                            </p>
                            <br>
                            <p style="color: #fff; padding-left: 400px;"><b>RA MẮT CỬA HÀNG FLAGSHIP THE COFFEE HOUSE SIGNATURE</b></p>
                            <br>
                            <p style="color: #fff; padding-left: 410px;">Nơi The Coffee House chia sẻ trọn vẹn câu chuyện về đam mê cà phê với những người đồng điệu.</p>
                            <br>
                            <p style="color: #fff; padding-left: 400px;"><b>CHÍNH THỨC CÁN MỐC 100 CỬA HÀNG</b></p>
                            <br>
                            <p style="color: #fff; padding-left: 410px;">Sau 4 năm ra mắt và hoạt động tại Việt Nam, The Coffee House chính thức vượt ngưỡng 100 cửa hàng, với mong muốn "Ai cũng có 1 The Coffee House gần nhà".</p>
                        </div>
                        <hr style="float: right; width: 40%; margin-right: 400px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cau_chuyen4">
        <div class="noi_dung">
            <div class="dong">
                <div style="width: 1200px; padding-left: 370px; text-align: center;">
                    <h2>
                        NHỮNG NGƯỜI TẠO NÊN SỰ ĐẶC BIỆT
                    </h2>
                    <hr>
                </div>
                <div>
                    <img src="~/images/st4.PNG" alt="ad" style="width: 1252px; height: 1110px; margin-top: 30px; text-align: center;">
                </div>
            </div>
        </div>
    </div>
</div>

