
@{
    ViewBag.Title = "hanhtrinh";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hành trình từ nông trại đến ly cà phê</title>
<style>
    .no1 {
        color: #ea8025;
        line-height: 1.4;
        text-align: center;
        float: none;
        font-size: 32px;
        font-weight: 700;
        position: relative;
        margin-bottom: 30px;
        margin-top: 10px;
        text-transform: uppercase;
    }

    .dong {
        margin-left: -15px;
        margin-right: -15px;
    }

    .ngoai {
        width: 760px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .word {
        max-width: 768px;
        margin: 0 auto;
        font-size: 16px;
        margin-bottom: 40px;
    }

    img {
        border: none;
        max-width: 100%;
        height: auto;
    }
</style>
<div style="width:100%; height:600px; border-bottom: 10px; overflow: auto;">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/S7rUasm-Wsk" frameborder="0"></iframe>
</div>
<div style="width: 80%; padding-left: 10%;">
    <p class="no1">
        hành trình từ nông trại đến ly cà phê
    </p>
    <hr />
</div>
<div class="ngoai">
    <div class="row word">
        Có bao giờ bạn tự hỏi, ly cà phê thơm ngát trên tay mình đã trải qua những chặng đường nào? Khi nhân
        viên phục vụ mang đến cho bạn một ly cà phê, đó chỉ là hành động cuối cùng của một hành trình dài và
        kỳ diệu: từ việc chọn vùng đất hợp thổ nhưỡng, sàng lọc giống, tới trồng cây, chăm bón và thu hái.
        <br> <br>
        Từ những cửa hàng đầu tiên, chúng tôi đã bắt đầu hợp tác với Cầu Đất Farm để trồng cà phê theo tiêu chuẩn riêng.
        Vùng đất phủ sương nằm ở độ cao 1.650m so với mặt nước biển này là nơi tốt nhất để trồng giống cà phê Arabica ở Việt Nam.
        Chính “độ cao vàng” ấy đã cho ra hạt cà phê Arabica thơm nhẹ, chua thanh tuyệt hảo.
        <br> <br>
        Tháng 1/2018, bộ phận Cà Phê của Cầu Đất Farm chính thức được sáp nhập vào đội ngũ The Coffee House.
        Dải sơn nguyên này trở thành nơi chúng tôi gieo nên không chỉ những giống cà phê chọn lọc, mà cả một ước mơ lớn:
        đem cà phê Việt Nam chất lượng cao chinh phục tín đồ cà phê trên toàn thế giới.
        <br> <br>
        Tại trang trại The Coffee House, chúng tôi sát cánh làm việc với từng nông hộ, kiểm soát các tiêu chuẩn của quá trình chăm bón; tỉ mẩn trong các khâu sơ chế, rang, pha...
        để gửi đến khách hàng ly cà phê tốt nhất.
        <br> <br>
        <img src="~/images/hanhtrinh_2.jpg" alt="hanh trinh cua hat ca phe the coffee house">
        <br> <br> <br> <br> <br>
        <img src="~/images/hanhtrinh_1.jpg" alt="">
    </div>
</div>


